doctype 5
html(lang="en", ng-app)
    head
        title @title
        meta(charset="utf-8")
        meta(name="description",content="visual feature")
        meta(name="author",content="Vitali Hatalski")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="/css/bootstrap.min.css")
        link(rel="stylesheet",href="/css/bootstrap-theme.min.css")
    body
        div.container
            div.masthead
                h3.text-muted Visual Feature
                //
                    ul.nav.nav-justified
                        li.active
                            a(href='#') About
                        li
                            a(href='#') Pricing
                        li
                            a(href='#') Contact
            div.jumbotron
                h1 Improve SDLC with ease!
                p.lead Increase visibility of features, manage features on different environments, auto-refresh all environments from production, auto-clean environments when dirty.
                p
                    a.btn.btn-lg.btn-success(href="#") Get started now, it's free!
            div.row
                div.col-lg-4
                    h2 Visibility
                    p Text
                div.col-lg-4
                    h2 Automated process
                    p Text
                div.col-lg-4
                    h2 Automated process
                    p Text
            div.footer
                p &copy; Naviam, Inc. 2013
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular.min.js')