doctype 5
html(lang="en", ng-app)
    head
        title Visual Feature
        meta(charset="utf-8")
        meta(name="description",content="visual feature")
        meta(name="author",content="Vitali Hatalski")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="/css/bootstrap.min.css")
        link(rel="stylesheet",href="/css/bootstrap-theme.min.css")
    body
        div.container
            block content
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular.min.js')
        block scripts